<div
  class="topic-card"
  matRipple
  (click)="startSession.emit()"
  (keydown.enter)="startSession.emit()"
  tabindex="0"
>
  <button class="edit-btn" mat-icon-button aria-label="Edit topic" (click)="onEdit($event)">
    <mat-icon class="edit-icon">edit</mat-icon>
  </button>

  <div class="icon-circle" [style.background-color]="iconBgColor()">
    <mat-icon [style.color]="topic().color">{{ topic().icon }}</mat-icon>
  </div>

  <span class="topic-name">{{ topic().name }}</span>
  <span class="topic-time">{{ formattedTime() }}</span>
</div>
